.nnavbar{
    background-color: rgba(200, 50, 50, 0.75);
    z-index: 999;
}
.btn{
    display: inline-block;
    text-align: center;
}
.float-right{
    margin-top: 15px;
}
.n-img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.fa,.nfa{
    margin-right:5px;
}
.ndb{
    display: inline-block;
}